{% extends 'base.html.twig' %}
{% block body %}
<style>
  body{
    margin-left: auto;
    margin-right: auto;
    margin-top:250px;
    width: 800px;
    text-align: center;
    align-items: center;
  }
  .flash-notice{
    font-weight: 600;
    font-size:large;
  }
  .lb{
    text-align:left;
    float:left;
  }
</style>
<div class="row">
      <div class="well">
<div class="panel panel-primary">
    <form action="{{ path('find_email') }}" method="post" name="form">
  <table>
    <tr style="margin-bottom:50px;">
      <br>
        <td ><span style="margin-left:12px;color:#dad4d4;height:30px;font-size:large;padding:6px;"><b>Entrer Votre Email :   </b></span></td>
        <td style="width:590px;padding-left:10px;">
          <input class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" type="text"></td>
    </tr>
    <tr>
      <td>
      <div class="panel-body">
        <button type="submit" class="btn btn-primary"style="width:150px;margin-left:12px;" >
            <i class="fa fa-sign-in" aria-hidden="true"></i> Envoyer
        </button>
    </div></td>
    </tr>

  </table>
</form>

  </div>
  </div>
</div>
{#=======================((  ))===========================#}
{#====================(          )========================#}
{#=================( flash messages )=====================#}
{#====================(          )========================#}
{#=======================(    )===========================#}

<p>{{(form)}}</p>
<p>unique code : {{(tok)}}</p>
{% for message in app.flashes('notice') %}
{% if var %}    
<div class="flash-notice" style="background-color:red;">
        {{ message }}
    </div>
    {% else %}
    <div class="flash-notice" style="background-color:rgb(32, 155, 67);">
        {{ message }}
    </div>
    {% endif %}
{% endfor %}

<script>
//https://stackoverflow.com/questions/820951/hide-div-after-a-few-seconds
//=======================((  ))===========================
//                     (( ajax ))
//=======================((  ))===========================
     //setTimeout(function() {
    //$('.flash-notice').fadeOut('fast');
   //}, 4000); // <-- time in milliseconds
//=======================((  ))===========================
//                    (( jquery ))
//=======================((  ))===========================
$('.flash-notice').delay(2000).slideUp( 800 ).hide(1000); 
//=======================((  ))===========================

//$( document ).ready(function(){
  // $('.flash-notice').delay(3000).fadeOut(6000,function(){
     //$('.flash-notice').fadeIn(6000);
 // });
//});
//=======================((  ))===========================
//$( document ).ready(function(){
  //$('.flash-notice').fadeIn('slow', function(){
    //$('.flash-notice').delay(5000).fadeOut(); 
  //});
//});
</script>



<p style="display:none;">
    {% set myDate = "now"|date %}
    {% set myDate2 = myDate|date_modify('+4 day')|date('m/d/Y') %}
    {% set fromTomorrow = "now"|date_modify('+1 day') %}
    <span class="lb">=> (1) : {{myDate}}</span> 
    <span class="lb">=> (2) : {{myDate2}}</span><br>
    {# ===================================================== #}
    <span class="lb">=> (3) : {{ "now"|date('H:i:s',timezone='Africa/Casablanca') }}</span><br>
    <span class="lb">=> (4) : {{ "now"|date('H:i', 'Africa/Casablanca') }}</span> <br>
    <span class="lb">=> (5) : {{ "now"|date_modify('+ 1 day')|date('d/m/Y') }}</span><br>
    <span class="lb">=> (6) : {{ "now"|date_modify('+ 1 day')|date(timezone='Africa/Casablanca') }}</span><br>
    <span class="lb">=============================================</span><br>
    <span class="lb">=> (7) : {{ "now"|date('H:i:s',timezone='Africa/Casablanca') }}</span><br>
    <span class="lb">=> (8) : {{ "now"|date_modify('+ 10 second')|date('H:i:s',timezone='Africa/Casablanca') }}</span><br>
    <span class="lb">=============================================</span><br>
    <span class="lb">=> (09) : {{ "now"|date('F d, Y') }} </span><br>
    <span class="lb">=============================================</span><br>
    {% set Date = "now"|date('H:i:s') %}
    {% set Date2 = Date|date_modify('+7 hour ,+10 second,+2 minute')|date('H:i:s') %}
    <span class="lb">=> (10) : {{Date}}</span><br>
    <span class="lb">=> (11) : {{Date2}}</span><br>
    {# ===================================================== #}
    {% set startDate = "now"|date() %}
    {% set endDate = "now"|date_modify('+2 hour')|date() %}
    {# endDate and startDate are strings or DateTime objects #}
    {% set difference = date(endDate).diff(date(startDate)) %}
    {% set leftDays = difference.h %}
    {# ===================================================== #}
    {% set leftMonths = difference.m %}    
    {% set leftYears = difference.y %}    
    {% set leftHours = difference.h %}
    {% set leftMinuts = difference.i %}    
    {% set leftSecond = difference.s %}    
    {# ===================================================== #}
    {% if leftDays == 1 %}
    1 day
    {% else %}
    {{ leftDays }} days
    {% endif %}
     </p>
  {% endblock %} 